:root {
  --color-primary: hsl(0, 0%, 100%);
  --color-slate-300: hsl(212, 45%, 89%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-900: hsl(217, 39%, 43%);
  --font-family-base: Outfit, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-size-base: 0.9375rem; /* 15px */
  --radius: 16px;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: var(--font-family-base);
  line-height: 1.5;
  background-color: var(--color-primary);

  margin: 0;
  padding: 0;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.card {
  background-color: var(--color-primary);
  border-radius: var(--radius);
  padding: 2rem;
  box-shadow: 0 4px 20px var(--color-slate-900);
  width: 90vw;
  max-width: 320px;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.card figcaption {
  font-weight: 400;
  font-size: var(--font-size-base);
  color: var(--color-slate-900);
}

.footer {
  text-align: center;
  padding: 0.4rem;
  background-color: var(--color-slate-300);
  color: var(--color-slate-500);
  font-size: 0.8rem;
  flex-shrink: 0;
}

.footer a {
  color: var(--color-slate-900);
  text-decoration: none;
  font-weight: 600;
}

.footer a:hover {
  text-decoration: underline;
}

@media (min-width: 375px) {
  .card {
    width: 70vw;
  }
}

@media (min-width: 480px) {
  .card {
    width: 70vw;
    max-width: 350px;
  }
}

@media (min-width: 768px) {
  .card {
    width: 50vw;
    max-width: 400px;
  }

  .page {
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  .card {
    width: 35vw;
    max-width: 450px;
  }
}

@media (min-width: 1440px) {
  .card {
    width: 25vw;
    max-width: 500px;
  }
}
